@model IEnumerable<TaskManagement.Models.Task>

@{
    Layout = "_Layout";
    var datacheck = Model;
}


<a asp-action="AddTask" class="btn btn-primary btn-lg">Add</a> ||<a asp-action="ExportToExcel" class="btn btn-success">Download Excel</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.DueDate)
                </td>
                <td>
                    @Html.ActionLink("Update", "UpdateTask", new { id = item.Id })|
                    @Html.ActionLink("Delete", "DeleteTask", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
);

    $(function () {
        var placeholderElement = $('#modal-placeholder');
        $('button[data-toggle="ajax-modal"]').click(function (event) {
            var url = $(this).data('url');
            $.get(url).done(function (data) {
                placeholderElement.html(data);
                placeholderElement.find('.modal').modal('show');
                $("#btnSave").click(function () {
                    debugger
                    var data = $("createform").serialize();

                    $.ajax({
                        type: "POST",
                        url: "/Register/Create",
                        data: data,
                        dataType: "json",
                        success: function (data) {
                            alert("Created success.");
                            window.location = "https://localhost:44366/Register/Display/";
                        },
                        failure: function (data) {
                            alert('fail to add');
                        }
                    });
                });
            });
        });
    });

    function Delete(id) {
    
        $.ajax({
            url: "/TaskManagemnt/DeleteTask",
            type: "POST",
            data: { id: id },
            success: function (data) {
                alert('success');
            }

        })
    }
</script>